:root {
  --primary-color: rgb(240, 233, 233);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  font-family: 'Poppins', sans-serif;
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona a sombra */
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border-radius: 30em;
  background:green;
  color: black;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  border-radius: 30em;
  background: rgb(188, 246, 188);
}

.error-text {
  font-size: 12px;
  color: red;
}

.success {
  background-color: #c9f7c5;
  border: 1px solid #4caf50;
  color: #000;
}

.Invalid {
  background-color: #fd6868;
  border: 1px solid red;
  color: #000;
}
